@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-end: #903AFF;
    --color-primary-start: #FE34B9;
    --color-secondary: #150E28;
    --color-purple-dark: #903AFF;
    --color-purple-light: #D434FE;
  }
}

html {
  scroll-behavior: smooth;
}

.date-no::before {
    content: '';
    height: 137px;
    width: 4px;
    position: absolute;
    left: 45%;
    bottom: 110%;
    background-color: var(--color-purple-light);
}

.anim-bg-gradient {
  background: linear-gradient(270deg, var(--color-primary-start) 0%, var(--color-primary-end) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
}

.anim-bg-gradient:hover {
  background-position: 0 0;
}